# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/dist/node_modules
/dist/db/node_modules
/dist/sessions

# misc
npm-debug.log
haxm_silent_run.log
# System Files
.DS_Store
Thumbs.db